<!DOCTYPE html>
<html lang="FR">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('dist/css/style.css') }}">
    </head>
    <body>
        <header class="baseHeader container-fluid">
            <ul class="listHeader col-12 row">
                <li class="col-2"><img src=" {{ asset('img/logo.png') }} " alt="" class="xLarge-4"></li>
                <li class="col-2"><a href="{{ path('admin_home') }}">Accueil</a></li>
                <li class="col-2"><a href="{{ path('admin_wine_list') }}">Vos vins</a></li>
                <li class="col-2"><a href="{{ path('admin_food_list') }}">Vos plats</a></li>
                <li class="col-2"><a href="{{ path('admin_reservation_list') }}">Vos réservations</a></li>
            </ul>
        </header>
                {% block content %}
                {% endblock %}
        <footer class="baseFooter container-fluid">
            <ul class="listFooter col-12">
                <li class="col-2"><img src=" {{ asset('img/logo.png') }} " alt="" class="xLarge-4"></li>
                <li class="col-2"><a href="">Les vins</a></li>
                <li class="col-2"><a href="">Les plats</a></li>
                <li class="col-2"><a href="">Vos réservations</a></li>
            </ul>
        </footer>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>
