{{ form_start(typeForm) }}
        {# form_label permet de rendre le label d'un champs de formulaire #}
        {{ form_label(typeForm.type) }}
        {# form_widget permet de rendre l'input d'un formulaire #}
        {{ form_widget(typeForm.type, { 'attr' : {'class' : 'inputTitle'} }) }}
        {{ form_errors(typeForm.type) }}

        {{ form_widget(typeForm.submit) }}
{{ form_end(typeForm) }}
{% for message in app.flashes('success') %}
        <div class="flash-notice">
                {{ message }}
        </div>
{% endfor %}