<h2>Vos Vins : </h2>
{% for message in app.flashes('success') %}
    <div class="flash-notice">
        {{ message }}
    </div>
{% endfor %}
{% for color in colors %}
    <h1>{{ color.name }}</h1>
    {% for region in regions %}
        <h2>{{ region.name }}</h2>
        {% for appellation in appellations %}
            <h3>{{ appellation.name }}</h3>
            {% for wine in appellation.wines %}
                {% if wine.color.name == color.name and wine.region.name == region.name %}
                <p>{{ wine.name }}</p>
                {#<a href="{{ path('admin_update_wine', {'id':wine.id}) }}">Modifier le nom du vin</a>
                <br>
                <a href="{{ path('admin_delete_region', {'id':wine.id}) }}">Supprimer ce vin</a>#}
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endfor %}
{% endfor %}

