<h2>Vos Vins : </h2>
{% for message in app.flashes('success') %}
    <div class="flash-notice">
        {{ message }}
    </div>
{% endfor %}

{% for color in colors %}
    <h1>{{ color.name }}</h1>
    {% for region in regions %}
        {% if color.name == 'Rouge' %}
            <h2>{{ region.name }}</h2>
            {% for appellation in region.appellations %}
                {% set appelationListed = false %}
                {% for wine in appellation.wines %}
                        {% if wine.color.id == color.id %}
                            {% if appelationListed == false %}
                                <h3>{{ appellation.name }}</h3>
                            {% endif %}
                            <p>{{ wine.name }}</p>
                                {#<a href="{{ path('admin_update_wine', {'id':wine.id}) }}">Modifier le nom du vin</a>
                                <br>
                                <a href="{{ path('admin_delete_region', {'id':wine.id}) }}">Supprimer ce vin</a>#}
                            {% set appelationListed = true %}
                        {% endif %}
                {% endfor %}
            {% endfor %}
        {% endif %}
        {#Il faudra que je continu mon if avec des else if pour les blancs et les rosés#}
    {% endfor %}
{% endfor %}




