
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="apple-touch-icon" sizes="57x57" href="{{  asset('icon/apple-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('icon/apple-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset ('icon/apple-icon-72x72.png')}}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset ('icon/apple-icon-76x76.png')}}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset ('icon/apple-icon-114x114.png')}}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{asset ('incon/apple-icon-120x120.png')}}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset ('icon/apple-icon-144x144.png')}}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset ('icon/apple-icon-152x152.png')}}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset ('icon/apple-icon-180x180.png')}}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ asset ('android-icon-192x192.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset ('icon/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ asset ('icon/favicon-96x96.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset ('icon/favicon-16x16.png')}}">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ asset ('dist/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset ('vendor/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ asset ('vendor/owl.theme.default.min.css')}}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <title>Document</title>
</head>
<body>
    <header class="entete" id="entete">
        <div class="flex bande xLarge-12 large-12">
            <div class="xLarge-1 medium-2 large-2">
                <img src="{{ asset('img/logo.png') }}" alt="" class="img-fluid">
            </div>
            <div class="xLarge-7 large-9">
                <ul class="nav flex">
                    <li class="xLarge-3"><a href="{{ path('home') }}" class="index">Accueil</a></li>
                    <li class="xLarge-3"><a href="">La Carte</a></li>
                    <li class="xLarge-3"><a href="">Les Vins</a></li>
                    <li class="xLarge-3"><a href="{{ path('Reservation') }}">Réserver</a></li>
                </ul>
            </div>
            <div class="menu-btn">
                <div class="menu-btn__burger"></div>
            </div>
            <div class="modal">
                <h1>Bienvenue</h1>
                <ul>
                    <li>Acceuil</li>
                    <li>La Carte</li>
                    <li>Les Vins</li>
                    <li>Réserver</li>
                </ul>

            </div>
        </div>
    </header>
    {% block content %}
    {% endblock %}
    <footer class="flex footer">
        <ul class="xLarge-3 small-4 medium-3 large-3">
            <li>Mentions légales</li>
            <li>Adresse</li>
            <li>Contacts</li>
        </ul>
        <ul class="flex xLarge-3 small-3 medium-2 large-2 icon">
            <li class="xLarge-2 small-4 medium-3 large-3"><a href=""><img src="{{ asset('img/facebook.png') }}" alt="" class="img-fluid"></a></li>
            <li class="xLarge-2 small-4 medium-3 large-3"><a href=""><img src="{{ asset('img/instagram.png') }}" alt="" class="img-fluid"></a></li>
        </ul>
    </footer>
    <script type="text/javascript" src="{{ asset('js/owl.carousel.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/script.js') }}"></script>
</body>
</html>