{% extends 'Front/frontBase.html.twig' %}
    {% block content %}
        {% for color in colors %}
            <h1>{{ color.name | upper}}</h1>
            {% for region in regions %}
                {% if color.name == 'Rouge' %}
                    {% if region.appellations | length > 0 %}
                    <div class="wineList xLarge-9 large-10 medium-10 small-10">
                    <h2>{{ region.name | upper }}</h2>
                    {% endif %}
                    {% for appellation in region.appellations %}
                        <h3>{{ appellation.name | upper }}</h3>
                        {% for wine in appellation.wines %}
                            {% if wine.color.name == 'Rouge' %}
                                <p class="wine">{{ wine.name }} {{ wine.price }} &euro;</p>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    </div>
                {% endif %}
                {% if color.name == 'Blanc' %}
                    {% if region.appellations | length > 0 %}
                    <div class="wineList xLarge-10 large-10 medium-10 small-10">
                    <h2>{{ region.name | upper}}</h2>
                    {% endif %}
                    {% for appellation in region.appellations %}
                            <h3>{{ appellation.name | upper }}</h3>
                        {% for wine in appellation.wines %}
                            {% if wine.color.name == 'Blanc' %}
                                <p class="wine">{{ wine.name }}  {{ wine.price }} &euro;</p>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    </div>
                {% endif %}
                {% if color.name == 'Rosé' %}
                    {% if region.appellations | length > 0 %}
                        <div class="wineList xLarge-10 large-10 medium-10 small-10">
                        <h2>{{ region.name | upper}}</h2>
                    {% endif %}
                    {% for appellation in region.appellations %}
                        <h3>{{ appellation.name | upper }}</h3>
                        {% for wine in appellation.wines %}
                            {% if wine.color.name == 'Rosé' %}
                                <p class="wine">{{ wine.name }}   {{ wine.price }} &euro;</p>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endblock %}